<div class="container">
  <div class="title">Edit your Details</div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <form [formGroup]="detailsForm" (submit)="onClickSubmit($event)" *ngIf="!loading">
    <div class="flex myWidth">
      <div class="input_container">
        <input placeholder="UserName" formControlName="username" />
        <input placeholder="Password" formControlName="password" />
        <input placeholder="FullName" formControlName="fullname" />
        <input placeholder="Email" formControlName="email" />
      </div>
      <div class="space"></div>
      <div class="input_container">
        <input placeholder="PhoneNumber" formControlName="phone" />
        <input placeholder="Position" formControlName="position" />
        <input placeholder="StaffID" formControlName="staffID" />
      </div>
    </div>
    <div class="button_container">
      <button routerLink="{{ goBack() }}">Back</button>
      <div class="space"></div>
      <button type="submit"
        [disabled]="!detailsForm.valid"
      >Submit</button>
    </div>
  </form>
</div>
