<mat-card class="block" *ngIf="currentUser">
  <mat-card-content>
    <h3>Welcome {{ currentUser.username }}</h3>
    <p>Logged in as a {{ currentUser["type"] }}</p>
    <p *ngIf="currentUser['type'] === 'admin'">School Name: {{ schoolName}}</p>
    <p *ngIf="currentUser['type'] === 'admin'">School ID: {{ schoolId }}</p>
  </mat-card-content>
</mat-card>

<mat-card
  class="block home"
  *ngIf="currentUser && currentUser['type'] === 'volunteer'"
>
  <mat-card-content>
    <button
      mat-raised-button
      routerLink="/dashboard/requests/view"
      color="primary"
    >
      View Request
    </button>
    
  </mat-card-content>
</mat-card>

<mat-card
  class="block home"
  *ngIf="currentUser && currentUser['type'] === 'root'"
>
  <mat-card-content>
    <app-administrator-menu></app-administrator-menu>
  </mat-card-content>
</mat-card>

<mat-card
  class="block home"
  *ngIf="currentUser && currentUser['type'] === 'admin'"
>
  <mat-card-content>
    <app-admin-menu></app-admin-menu>
    

  </mat-card-content>
</mat-card>
