<mat-card>
  <form 
  [formGroup]="resourceTypeForm">
  <formly-form
    [form]="resourceTypeForm"
    [fields]="resourceTypeFormSchema">
  </formly-form>
</form>
<div *ngIf="!selectedForm">Please Select the Resource Type</div>
<form 
 *ngIf="selectedForm"
 [formGroup]="submitForm" (submit)="onClickSubmit($event)">
    <formly-form 
      [form]="submitForm" 
      [fields]="selectedSchema"> 
    </formly-form>
    <div class="button_container">
      <button
        [disabled]="!submitForm.valid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </div>    
</form>
</mat-card>