<div class="container">
  <form
    class="container"
    [formGroup]="addSchoolForm"
    (submit)="onClickSubmit($event)"
  >
    <div class="title">Register a School</div>

    <formly-form
    [form]="addSchoolForm"
    [fields]="fieldConfig"
    >

    </formly-form>
    <!-- <input placeholder="school address" formControlName="address" />
    <input placeholder="school city" formControlName="city" /> -->
    <div class="button_container">
      <button
        [disabled]="!addSchoolForm.valid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
      <div class="space"></div>
    </div>
  </form>
</div>
