<p-toolbar styleClass="mb-4"
  ><ng-template pTemplate="left"
    ><button
      [disabled]="!selectedReqID"
      mat-raised-button
      color="primary"
      (click)="onCloseRequest()"
    >
      Close Request
    </button></ng-template
  ></p-toolbar
>
<p-table
  [value]="data"
  responsiveLayout="scroll"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 30]"
  [loading]="loadingRequest"
  [(selection)]="selectedRequest"
  [rowHover]="true"
  (onRowSelect)="onReqSelect($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th pSortableColumn="id">
        Request ID <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="requestStatus">
        Request Status <p-sortIcon field="requestStatus"></p-sortIcon>
      </th>
      <th pSortableColumn="requestDate">
        Request Date <p-sortIcon field="requestDate"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <p-tableRadioButton [value]="item"></p-tableRadioButton>
      </td>
      <td>{{ item.id }}</td>
      <td>{{ item.requestStatus }}</td>
      <td>{{ item.requestDate | date }}</td>
    </tr>
  </ng-template>
</p-table>
<div *ngIf="selectedReqID">
  <p>Selected Request Description:</p>
  <p>{{ description }}</p>
  <br />
  <br />
  <br />
  <p>Selected Request Offers</p>
  <p-toolbar styleClass="mb-4"
    ><ng-template pTemplate="left"
      ><button
        [disabled]="selectedOffers.length === 0"
        mat-raised-button
        color="primary"
        (click)="onAcceptOffer()"
      >
        Accept
      </button></ng-template
    ></p-toolbar
  >
  <p-table
    [value]="offers"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 30]"
    [loading]="loading"
    [(selection)]="selectedOffers"
    [rowHover]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Offer Name</th>
        <th>Offer Remarks</th>
        <th>Offer Date</th>
        <th>Offer Age</th>
        <th>Offer Occupation</th>
        <th>Offer Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item._id"></p-tableCheckbox>
        </td>
        <td>{{ item.volunteer.fullname }}</td>
        <td>{{ item.remarks }}</td>
        <td>{{ item.offerDate | date }}</td>
        <td>{{ calAge(item.volunteer.dateOfBirth) }}</td>
        <td>{{ item.volunteer.occupation }}</td>
        <td>{{ item.offerStatus }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
